<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="choice">
        <button v-on:click="">Student/Parent</button>
        <button v-on:click="">Service Provider</button>
        
    </div>
    <div id="regForm">
        <input placeholder="Username" v-model="username">
        <input placeholder="Password" v-model="password">
        <button v-on:click="register">Register</button>
    </div>
</body>
<script>
    // var choice = new Vue ({
    //     el: "#choice"
    //     }
    // })

    var regForm = new Vue ({
        el: "#regForm",
        data: {
            username: "",
            password: "",
            regUser: [{}],
        },

        methods: {
            register: function(){
                localStorage.setItem("username", JSON.stringify(regForm.username))
                JSON.parse(localStorage.getItem(regForm.username))

                localStorage.setItem("password", JSON.stringify(regForm.password))
                JSON.parse(localStorage.getItem(regForm.password))

                regForm.regUser.push({username: this.username, password: this.password})
                
                
            }
        }
    })
</script>
</html>