<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div id="userForm"> 
                <span v-if='currentUser'>
                    {{currentUser}}
                </span>
                <span v-else>
                    <input v-model="email" id='loginBox' placeholder="Email"></input>
                    <input type="password" v-model="password" id='loginBox' placeholder="Password"></input>

                    <input type="radio" v-model="userType" id="option1" value="Student" >Student</input>

                    <input type="radio" v-model="userType" id="option2" value="Provdier" >Provider</input>
                    <button v-on:click="login">Login</button>
                    <button v-on:click="signup"> Registration</button>
                    <p>{{userMessage}}</p>
                </span>
            </div>    
        </header>
        <aside>
            <div class="filter">
            </div>
        </aside>
        <main>
            <div id="product">
                <div>
                    <p>Search for a Course by provider email:</p>
                    <input id="searchbox" v-model='searchbox' placeholder="Search box"></input>
                    <button v-on:click="search">Search</button>
                    <div>
                        <p>{{searchResults}}</p>
                        <div class="searchProduct" v-for='course in tempcourses'>
                            <p>Course:</p>
                            <li v-for='(value, key) in course'>
                            {{key}}: {{value}}
                            </li>
                        </div> 
                        <div>
                            <p>Create Course: </p>
                            <input v-model="topic" id='createCourseBox' placeholder="Topic"></input>
                            <input v-model="price" id='createCourseBox' placeholder="Price"></input>
                            <input v-model="location" id='createCourseBox' placeholder="Location"></input>
                            <input v-model="provider" id='createCourseBox' placeholder="Provider"></input>
                            <button v-on:click="addCourse">Add Course</button>
                        </div>
                </div>
                <div class="product" v-for='course in courses'>
                    <p>Course:</p>
                    <li v-for='(value, key) in course'>
                        {{key}}: {{value}}
                    </li>
                </div>
            </div>
        </main>
    </div>
        
</body>
<script>

var userForm = new Vue ({
    el: "#userForm", 
    data: {
        email:'',
        password:'',
        userType: '',
        currentUser: '',
        userMessage: '',
        searchbox: ''

    },
    methods: {
        signup: function() {
            const userInfo = {
                email: this.email,
                password: this.password,
                userType: this.userType
            }

            //console.log(userInfo)
            var email = this.email
            var password = this.password
            this.userMessage = ''

            if(!email || !password){
                this.userMessage = 'ERROR: Please enter an Email address and Password.'
                return
            }

            if(!email.includes("@")){
                this.userMessage = 'ERROR: Please include an "@" in the Email address.'
                return
            }

            if(password.length <= 3){
                this.userMessage = 'ERROR: Please enter a password of 4 charcters or more'
                return
            }
            
            //Posting the user to the database (creating a user)
            fetch('http://localhost:3000/collections/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(userInfo),
            })
            .then((response) => response.json())
            .then((userInfo) =>{
                this.userMessage = "Successfully registered!! please login";
            })
        },
        login: function(){
            var email = this.email

            
            //retrieve users data by email
            fetch('http://localhost:3000/collections/users')
            .then((response) => response.json())
            .then((userData) => {
                    for( var i = 0; i < userData.length; i++){
                        if(userData[i].email === email){  
                            this.currentUser = "Welcome Back!! " + userData[i].userType + " " +  userData[i].email 
                            var auth = userData[i].userType
                        }
                    }
                }
            )
        }
    }
})

//creating variable for course section (where the courses are displayed)
var product = new Vue ({
    el: "#product",
    data: {
        searchbox: '',
        courses: [],
        tempcourses: [],
        searchResults: '',
        topic: '',
        price: '',
        location:'',
        provider: ''
    },
    methods: {
        search: function(){
            var search = this.searchbox
            this.tempcourses = []
            this.searchResults = ''


            fetch('http://localhost:3000/collections/courses')
            .then((response) => response.json())
            .then((courseData) => {
                for(var i = 0; i < courseData.length; i++){
                    if(courseData[i].provider === search){
                        var tempCourses = courseData[i]
                        product.tempcourses.push(tempCourses)
                        this.searchResults = 'Search results found:'
                    }
                }
            })
        },

        addCourse: function(){

        }
    }
})
//retrieving all courses 
fetch('http://localhost:3000/collections/courses').then(
                function(response){
                    response.json().then(
                        function (courseData){
                            product.courses = courseData
                        }
                    )
                }
            )
</script>
</html>