<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="choice">
        <button v-on:click="">Student/Parent</button>
        <button v-on:click="">Service Provider</button>
        
    </div>
    <div class="regForm" v-for="userInput in regUser">
        <input type="text" placeholder="Username" v-model="userInput.username">
        <input type="text" placeholder="Password" v-model="userInput.password">
        <button>Register</button>
    </div>
</body>
<script>
    // var choice = new Vue ({
    //     el: "#choice"
    //     }
    // })

    var regForm = new Vue ({
        el: ".regForm",
        data: {
            regUser: [{
                username: '',
                password: ''
            }]
        }
    })
</script>
</html>